<h1><%= @posting.title %></h1>

<p><b> Description: </b><%= @posting.description %></p>

<p><b> Date&Time: </b><%= @posting.date %></p>

<p><b> Compensation: </b><%= @posting.compensation %></p>

<p><b> Phone number: </b><%= @posting.phone %></p>

<p><b> Contact email: </b><%= @posting.email %></p>
</br>

<%= link_to 'Edit', edit_user_posting_path(current_user, @posting) %> |

<%= link_to 'Delete', user_posting_path(current_user, @posting),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>


<p><%= link_to 'All Postings', user_postings_path %></p>