<%= simple_form_for [current_user] do |f| %>

<% if @user.errors.any? %>
<h3>
<%= pluralize(@user.errors.count, "error") %>
This user could not be saved
</h3>
<ul>
<% @user.errors.full_messages each do |message| %>
<li><%= message %></li>
</ul>

<% end %>
<% end %>

</br>
</br>

<p>
	<div class="form-inputs">
	 <%= f.input :name, required: true %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.association :categories, label: "Service categories", as: :check_boxes, label_method: :type %>
    <%= f.input :description, label: "Describe services provided" %>
    <%= f.input :phone, label: "Contact number" %>
    <%= f.input :avatar, label: "Upload photo", as: :file %>
  	</div>
  	<%= f.button :submit %>
</p>

<% end %>