<%= simple_form_for @worker, url: worker_path(@worker), method: :patch do |f| %>

<% if @worker.errors.any? %>
<h3>
<%= pluralize(@worker.errors.count, "error") %>
This worker could not be saved
</h3>
<ul>
<% @worker.errors.full_messages each do |message| %>
<li><%= message %></li>
</ul>

<% end %>
<% end %>

</br>
</br>

<p>
	<div class="form-inputs">
	 <%= f.input :name, required: true %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.simple_fields_for @worker do |c| %>  
       <%= c.association :categories, as: :check_boxes, label_method: :type %>
    <% end %>
    <%= f.input :description, label: "Describe services provided" %>
    <%= f.input :phone, label: "Contact number" %>
    <%= f.input :avatar, label: "Upload photo", as: :file %>
  	</div>
  	<%= f.button :submit %>
</p>

<% end %>