<h1>Hello <%= @user.name %>!</h1>

<button><%= link_to 'View Profile', worker_path(current_user) %></button>

<% @categories.each do |category| %>
	<% if category.postings.count >= 1 %>
		<h4><%= link_to category.type, category_path(category) %></h4>
		<% category.postings.each do |posting| %>
			<p><%= posting.title %></p>
		<% end %>
	<% end %>

<% end %>


<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Page Heading
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <% @categories.each do |category| %>
	        <div class="row">
	          <div class="col-md-3 portfolio-item">
		          <h5> <%= category.type %> </h5>
	            <li><%=link_to '<i class="fa fa-leaf"></i>'.html_safe, category_path(category) %> </li>
	          </div>
	        </div>
				<% end %>
  
      <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
</body>