<h1><%=@user.name%>'s Profile</h1>

<% if current_user.worker? %>
	<%= render 'navbar' %>
<% elsif current_user.client?%>
	<%= render 'navbarclient' %>
<% end %>
	

<div class= "show">

<p><strong><%= image_tag @user.avatar.url(:medium) %></strong></p>
<div class="form-inputs"
<p><strong>Categories:</strong></p> <% @user.categories.each do |category| %><li><%= category.type %></li><% end %> <br/>

<p><strong> Description: </strong><%= @user.description %></p>
<p><strong> Phone number: </strong><%= @user.phone %></p>
<p><strong> Contact email: </strong><%= @user.email %></p>
</br>
</div>

<% if current_user.worker? %>
<%= link_to 'Edit', edit_worker_path(current_user) %>
<% end %>
</div>