
<% if current_user.worker? %>

<%= render 'navbarworker' %>

	<h1><%= @category.type %> Job Postings</h1>
	<div class="form">
	<% @category.postings.each do |posting| %>
		<div class="display"><%= link_to posting.title, client_posting_path(current_user,posting) %></p></div>
	<% end %>
	</div>

<% elsif current_user.client? %>

<%= render 'navbarclient' %>

	<h1><%= @category.type %>s</h1>
	<div class="form">
		<% @category.users.worker.each do |worker| %>
			<div class="display"><%= link_to worker.name, worker_path(worker, category_id: @category.id) %></div>
		<% end %>
</div>
<% end %>